
#pantalla {
    width: 200px;
    height: 40px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #333;
}


#teclado {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 10px;
    justify-content: center;
}


.tecla {
    color: black;
    width: 60px;
    height: 60px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: solid 3px #515151;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.tecla:hover {
    background-color: #c1c1c1;
}
