* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  color: red;
  font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

h2 {
  color: gray;
  text-decoration: underline;
}

p{
  font-style: italic;
}

li {
  list-style-type: upper-roman;
}