body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, #0f0f1f 0%, #000 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

/* Título arcade neón */
h1 {
    font-family: 'Pixelify Sans', sans-serif;
    color: #0ff; /* cyan neón */
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    font-size: 35px;
    margin: 20px 0 0 0;
}

canvas {
    border: 4px solid #0ff;
    background-color: #000;
    image-rendering: pixelated;
    margin-top: 20px;
}
